<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>B1nCrypti0n</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="../index.js"></script>
</head>
<body bgcolor="black">
   <center> <h1 style="color: green;">Welcome To B1nCrypti0n</h1></center>
    <marquee behaviour="alternate"><h3 style="color: green;"">Site is Under Construction</h3></marquee>
    <center> <h1>Project By <font color="green">Tanny</font> && <font color="green">Aditya</font> </h1></center>

  
<form action="/convert" method="POST">
<center>
    <textarea rows="6" cols="80" name="plaintext"><%= plaintext %></textarea>
    <br><br><br>
    <textarea rows="6" cols="80" name="convertedText"><%= convertit %></textarea>
    <br><br><br>
    <font color="lime"><h1><p><%= againPlain %></p></h1></font>
    <br><br><br>
    <input type="submit" text="convert">

</center>
</form>



</body>
</html>